#slideshow-container {
  width: 100%;
  height: 60vh;
  position: relative;
}

.slideshow {
  width: 100%;
  height: 60vh;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.slide.current {
  display: block;
  opacity: 1;
}

.slide:first-child {
  background: url("../imgs/stairs-4138259_1920.jpg") no-repeat center center /
    cover;
}

.slide:nth-child(2) {
  background: url("../imgs/hd-wallpaper-3129908_1920.jpg") no-repeat center
    center / cover;
}

.slide:last-child {
  background: url("../imgs/fantasy-2925212_1920.jpg") no-repeat center center /
    cover;
}

.slide .side-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  text-align: center;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.slide .side-content h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #036e86;
  letter-spacing: 2px;
  font-weight: 700;
  text-shadow: 1px 0px 2px #aaa, 0px -2px 2px #aaa;
}

.slide .side-content p {
  font-size: 1.1rem;
  color: rgb(104, 7, 137);
  text-shadow: 1px 0px 2px #aaa, 0px -2px 2px #aaa;
}

.slide .side-content.active {
  opacity: 1;
  width: max-content !important;
  height: max-content !important;
}

#prev {
  position: absolute;
  top: 50%;
  left: 20px;
  padding: 0.5rem 0.7rem;
  border: none;
  background: rgba(62, 223, 241, 0.5);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 2px 0px 0px rgba(255, 255, 255, 0.6);
}

#prev:active {
  background: #ddd;
  color: #333;
  box-shadow: inset 2px 0px 0px rgba(0, 0, 0, 0.3);
}

#next {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0.5rem 0.7rem;
  border: none;
  background: rgba(62, 223, 241, 0.5);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: -2px 0px 0px rgba(255, 255, 255, 0.6);
}

#next:active {
  background: #ddd;
  color: #333;
  box-shadow: inset -2px 0px 0px rgba(0, 0, 0, 0.3);
}

.circles {
  position: absolute;
  width: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 17px;
  height: 17px;
  background: transparent;
  border: 2px solid rgba(20, 24, 251, 0.9);
  border-radius: 10px;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #fff;
  border: 2px solid rgba(142, 171, 247, 0.9);
}

@media (max-width: 600px) {
  .slide .side-content h3 {
    font-size: 1.4rem;
  }

  .slide .side-content p {
    font-size: 0.9rem;
  }

  #prev {
    padding: 0.5rem;
  }

  #next {
    padding: 0.5rem;
  }
}
